<div class="book-section">
  <h5 class="underlined"><%= t 'toshokan.cant_find.forms.sections.book' %></h5>
  <%= label_tag 'book_title', (t('toshokan.cant_find.forms.fields.book_title') + ' <span class="dtu-red">*</span>').html_safe %>
  <%= text_field_tag 'book_title', nil, :class => 'input-block-level' %>
  <%= label_tag 'author', t('toshokan.cant_find.forms.fields.author') %>
  <%= text_field_tag 'author', nil, :class => 'input-block-level' %>
  <%= label_tag 'edition', t('toshokan.cant_find.forms.fields.edition') %>
  <%= text_field_tag 'edition', nil, :class => 'input-block-level' %>
  <%= label_tag 'doi', t('toshokan.cant_find.forms.fields.doi') %>
  <%= text_field_tag 'doi', nil, :class => 'input-block-level' %>
  <%= label_tag 'isbn', t('toshokan.cant_find.forms.fields.isbn') %>
  <%= text_field_tag 'isbn', nil, :class => 'input-block-level' %>
  <div class="row-fluid">
    <div class="span6 offset6">
      <%= label_tag 'year', (t('toshokan.cant_find.forms.fields.year') + ' <span class="dtu-red">*</span>').html_safe %>
      <%= text_field_tag 'year', nil, :class => 'input-block-level' %>
    </div>
  </div>
</div>

