<div class="conference-section">
  <h5 class="underlined"><%= t 'toshokan.cant_find.forms.sections.conference' %></h5>
  <%= label_tag 'conference_title', t('toshokan.cant_find.forms.fields.conference_title') %>
  <%= text_field_tag 'conference_title', nil, :class => 'input-block-level' %>
  <%= label_tag 'location', t('toshokan.cant_find.forms.fields.location') %>
  <%= text_field_tag 'location', nil, :class => 'input-block-level' %>
  <div class="row-fluid">
    <div class="span6">
      <%= label_tag 'year', t('toshokan.cant_find.forms.fields.year') %>
      <%= text_field_tag 'year', nil, :class => 'input-block-level' %>
    </div>
    <div class="span6">
      <%= label_tag 'number', t('toshokan.cant_find.forms.fields.number') %>
      <%= text_field_tag 'number', nil, :class => 'input-block-level' %>
    </div>
  </div>
</div>
