<div class="journal-section">
  <h5 class="underlined"><%= t 'toshokan.cant_find.forms.sections.journal' %></h5>
  <%= label_tag 'journal_title', (t('toshokan.cant_find.forms.fields.journal_title') + ' <span class="dtu-red">*</span>').html_safe %>
  <%= text_field_tag 'journal_title', nil, :class => 'input-block-level' %>
  <%= label_tag 'issn', t('toshokan.cant_find.forms.fields.issn') %>
  <%= text_field_tag 'issn', nil, :class => 'input-block-level' %>
  <div class="row-fluid">
    <div class="span6">
      <%= label_tag 'volume', (t('toshokan.cant_find.forms.fields.volume') + ' <span class="dtu-red">*</span>').html_safe %>
      <%= text_field_tag 'volume', nil, :class => 'input-block-level' %>
    </div>
    <div class="span6">
      <%= label_tag 'issue', (t('toshokan.cant_find.forms.fields.issue') + ' <span class="dtu-red">*</span>').html_safe %>
      <%= text_field_tag 'issue', nil, :class => 'input-block-level' %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <%= label_tag 'year', (t('toshokan.cant_find.forms.fields.year') + ' <span class="dtu-red">*</span>').html_safe %>
      <%= text_field_tag 'year', nil, :class => 'input-block-level' %>
    </div>
    <div class="span6">
      <%= label_tag 'pages', (t('toshokan.cant_find.forms.fields.pages') + ' <span class="dtu-red">*</span>').html_safe %>
      <%= text_field_tag 'pages', nil, :class => 'input-block-level' %>
    </div>
  </div>
</div>
