<div class="pickup-location-section">
  <h5 class="underlined"><%= t 'toshokan.cant_find.forms.sections.pickup_location.title' %></h5>
  <div class="clearfix">
    <%= radio_button_tag 'pickup_location', 'Lyngby' %>
    <%= label_tag 'pickup_location', t('toshokan.cant_find.forms.sections.pickup_location.lyngby_html'), :class => 'inline' %>
    <%= radio_button_tag 'pickup_location', 'Ballerup' %>
    <%= label_tag 'pickup_location', t('toshokan.cant_find.forms.sections.pickup_location.ballerup_html'), :class => 'inline' %>
  </div>
  <p><%= t 'toshokan.cant_find.forms.sections.pickup_location.text' %></p>
</div>
