<div class="proceedings-section">
  <h5 class="underlined"><%= t 'toshokan.cant_find.forms.sections.proceedings' %></h5>
  <%= label_tag 'proceedings_title', t('toshokan.cant_find.forms.fields.proceedings_title') %>
  <%= text_field_tag 'proceedings_title', nil, :class => 'input-block-level' %>
  <%= label_tag 'proceedings_isxn', t('toshokan.cant_find.forms.fields.proceedings_isxn') %>
  <%= text_field_tag 'proceedings_isxn', nil, :class => 'input-block-level' %>
  <div class="row-fluid">
    <div class="span6 offset6">
      <%= label_tag 'pages', t('toshokan.cant_find.forms.fields.pages') %>
      <%= text_field_tag 'pages', nil, :class => 'input-block-level' %>
    </div>
  </div>
</div>
