<div class="span12 cant-find-form">
  <h4 class="underlined"><%= t 'toshokan.cant_find.title', :genre => t("toshokan.cant_find.genres.#{@genre}").downcase %></h4>
  <h5><%= t 'toshokan.cant_find.tips.title' %></h5>
  <% unless @tips.empty? %>
    <ul class="search-tips">
      <% @tips.each do |tip| %>
        <li><%= t "toshokan.cant_find.tips.#{tip}_html" %></li>
      <% end %>
    </ul>
  <% end %>
  <h5 class="form-title"><%= t 'toshokan.cant_find.forms.title' %></h5>
  <% if can? :view, :cant_find_forms -%>
    <%= form_tag dtic_assistance_path(:genre => @genre) do %>
      <div class="row">
        <% @form_sections.each do |section| %>
          <div class="span3">
            <% if section.is_a? Array %>
              <% section.each do |nested_section| %>
                <% if nested_section.is_a? Hash -%>
                  <%= render "#{nested_section[current_user.type]}_section" %>
                <% else -%>
                  <%= render "#{nested_section}_section" %>
                <% end -%>
              <% end %>
            <% else %>
              <%= render "#{section}_section" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>
      DTU Library may assist you in acquiring the article that you are looking for.
    </p>
    <p>
      To learn more about prices and the DTU Library Corporate service, click <a href="http://www.dtic.dtu.dk/english/servicemenu/find/industry_public">here</a>.
    </p>
  <% end %>
</div>
