
<%= render :partial => 'shared/mylib_menu' %>

<div id="content" class="span9 mylibrary">

  <h3><%=t('toshokan.mylibrary.menu.search_history')%></h3>

  <%- if @searches.blank? -%>
    <div class="alert alert-info"><%=t('blacklight.search_history.no_history')%></div>
  <%- else -%>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Search</th>
          <th>Issued</th>
<!--           <th class="action"><%= t('toshokan.mylibrary.info') %></th>
 -->          <th class="action"><%= t('toshokan.mylibrary.save') %></th>
          <th class="action"><%= t('toshokan.mylibrary.alert') %></th> 
          <th class="action"><%= t('toshokan.mylibrary.delete') %></th>
        </tr>
      </thead>
      <% @searches.each do |search| %>
        <tr class="item">
          <td><em class="muted">Add title</em></td>
          <td class="search_history"><%= link_to_previous_search(search.query_params) %></td>
          <td><%= l search.created_at, format: :long %></td>
<!--           <td class="action">
            <%= link_to "#", method: :show , :title => "t('toshokan.mylibrary.info')" do %>
              <i class="icon-info-sign"></i>
            <% end %>
          </td>
 -->          <td class="action">
            <%= link_to forget_search_path(search.id), :method => :delete, 
              :title => t('toshokan.mylibrary.saved'), :class => if !search.saved then "hidden" end,
               :remote => true do %>       
              <i class="icon-star"></i>
            <%- end -%>          
            <%= link_to save_search_path(search.id), :method => :put, :title => 
              t('toshokan.mylibrary.save'), :remote => true, :class => if search.saved then "hidden" end do %>
              <i class="icon-star-empty"></i>
            <%- end -%>            
          </td>
          <td class="action">            
            <%= link_to forget_search_alert_path(search.id), :method => :delete, 
              :title => t('toshokan.mylibrary.alerted'), :class => if !search.alerted then "hidden" end,
              :remote => true do %> 
              <i class="icon-bell-alt"></i>
            <%- end -%>          
            <%= link_to save_search_alert_path(search.id), :method => :put, 
              :title => t('toshokan.mylibrary.alert'),  :class => if search.alerted then "hidden" end,
              :remote => true do %>
              <i class="icon-bell"></i>
            <%- end -%>            
          </td>          
          <td class="action">
            <%= link_to delete_search_history_path(search.id), :method => :delete, 
            :title => t('toshokan.mylibrary.delete'), :remote => true, :class => "delete" do %>
              <i class="icon-remove"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <%- end -%>
 
</div>