<div id="footer">
  <%= render 'shared/service_menu' %>

  <div class="fat-footer hidden-phone">
    <div class="container">
      <div class="row">
        <div class="span1">
          <%= link_to image_tag('dtulogo_white.png'), 'http://www.dtic.dtu.dk' %>
        </div>
        <div class="span5">
          <%= t 'toshokan.footer.about_dtu_library_html', :email => "<script type=\"text/javascript\">eval(unescape('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%64%74%69%63%40%64%74%69%63%2e%64%74%75%2e%64%6b%22%3e%64%74%69%63%40%64%74%69%63%2e%64%74%75%2e%64%6b%3c%2f%61%3e%27%29%3b'));</script>".html_safe %>
        </div>
        <div class="span3 offset3">
          <h5><%= t 'toshokan.footer.follow_us' %></h5>
          <a href="http://www.facebook.com/DTUBibliotek"><img style="margin-right: 9px" src="http://www.dtic.dtu.dk/images/modules/socialmedia/facebook.png"></a>
          <a href="http://www.youtube.com/DTUbroadcast"><img style="margin-right: 9px" src="http://www.dtic.dtu.dk/images/modules/socialmedia/youtube.png"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="dtu-red-bar">
    <div class="container">
      <div class="pull-right">
        <ul class="inline">
        <li><%= link_to 'About DTU Findit', about_path %></li>
        <li><a href="http://www.dtu.dk/Om-DTU/Praktisk-information/Om-dtu_dk/Cookies">About cookies</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
