<div id="header-navbar-fixed-top" class="navbar navbar-fixed-top">
  <div class="navbar-inner level1-navbar">
    <div class="container">
      <div class="row">
        <div class="span6">
          <a href="http://www.dtu.dk"><%= t 'toshokan.header.dtu' %></a>
        </div>
        <div class="span6">
          <div class="pull-right">
            <%- unless session[:come_back_later] -%>
              <%= render :partial=>'/user_util_links' %>
            <%- end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-inner level2-navbar">
    <div class="container">
      <div class="row logos">
        <div class="span6">
          <%= link_to content_tag('div', '', :class => 'dtu-library-logo').html_safe, root_path, :class => 'logo pull-left' %>
        </div>
        <div class="span6">
          <%= link_to content_tag('div', '', :class => 'dtu-logo').html_safe, 'http://www.dtu.dk', :class => 'logo pull-right' %>
        </div>
      </div>
      <% unless @disable_header_searchbar %>
        <div class="row">
          <div class="span9 offset3">
            <div id="searchbar">
              <%= render_search_bar %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%- unless session[:come_back_later] -%>
  <%= link_to '', feedback_path, :class => 'feedback', :'data-toggle' => 'modal', :'data-target' => '#feedback-modal' %>
<%- end -%>

<div id="feedback-modal" class="modal fade">
  <div class="modal-header">
    <h4>
      <%= t 'toshokan.modals.feedback.title' %>
      <a class="close" class="pull-right" data-dismiss="modal" data-target="#feedback-modal">&times;</a>
    </h4>
  </div>
  <div class="modal-body">
  </div>
</div>
