<div id="header-navbar-fixed-top" class="navbar navbar-fixed-top">
  <div class="navbar-inner level1-navbar">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="pull-right">
            <%= render :partial=>'/user_util_links' %>
          </div>
          <a href="http://www.dtu.dk/english"><%= image_tag 'dtu_text_header.png' %></a>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-inner level2-navbar">
    <div class="header-gradient">
      <div class="container">
        <div class="row logos">
          <div class="span3">
            <%= link_to 'DTU Find<span class="dtu-red">it</span>'.html_safe, root_path, :class => 'findit-logo visible-desktop pull-left' %>
          </div>
          <div class="span7">
            <% unless @disable_header_searchbar %>
              <div class="search">
                <div id="searchbar">
                  <%= render_search_bar %>
                </div>
                <div id="appliedParams">
                  <% if query_has_constraints? %>
                    <%= render 'catalog/constraints' %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="span2">
            <%= link_to content_tag('div', '', :class => 'dtu-logo').html_safe, 'http://www.dtu.dk/english', :class => 'logo pull-right' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to '', feedback_path, :class => 'feedback', :'data-toggle' => 'modal', :'data-target' => '#feedback-modal' %>

<div id="feedback-modal" class="modal fade">
  <div class="modal-header">
    <h4>
      <%= t 'toshokan.modals.feedback.title' %>
      <a class="close pull-right" data-dismiss="modal" data-target="#feedback-modal">&times;</a>
    </h4>
  </div>
  <div class="modal-body">
  </div>
</div>

<% if !cookies[:shunt_hint] && params[:dlib] %>
  <div id="dlib-modal" class="modal fade">
    <div class="modal-header">
      <h4>
        DTU Findit has replaced DTU Digital Library
        <a class="close pull-right" data-dismiss="modal">&times;</a>
      </h4>
    </div>
    <div class="modal-body">
      <p>It is important that you log in as a DTU user to take full advantage of DTU Findit. Your browser will remember your initial choice.</p>
    </div>
    <div class="modal-footer">
      <a href="http://libguides.dtu.dk/loader.php?type=d&id=937880" class="btn" target="_blank">Read more</a>
      <%= link_to new_user_session_path(:url => request.fullpath, :only_dtu => true), :class => "btn btn-primary" do %>
        <%= t('toshokan.header_links.login') %>
      <% end %>
    </div>
  </div>
<% end %>
