<div id="header-navbar-fixed-top" class="navbar navbar-fixed-top">
  <div class="navbar-inner level1-navbar">
    <div class="container">
      <div class="row">
        <div class="span6">
          <div class="pull-left">
            <h5><%= link_to t('toshokan.header.dtu'), 'http://www.dtu.dk' %> &bull; <%= link_to t('toshokan.header.dtulibrary'), root_path %></h5>
          </div>
        </div>
        <div class="span6">
          <div class="pull-right">
            <%= render :partial=>'/user_util_links' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-inner level2-navbar">
    <div class="container">
      <div class="row">
        <div class="span3">
          <h4 class="dtu-grey"><%= t 'toshokan.header.dtulibrary' %> | <span class="dtu-red"><%= t 'toshokan.header.search' %></span></h4>
        </div>
        <div class="span6">
          <div id="searchbar">         
            <%= render_search_bar %>
          </div>
        </div>
        <div class="span3">
          <%= link_to image_tag('dtu.png'), 'http://www.dtu.dk', :class => 'logo pull-right' %>
        </div>
      </div>
    </div>
  </div>
</div>
