<div id="header-navbar-fixed-top" class="navbar navbar-fixed-top">
  <div class="navbar-inner level1-navbar">
    <div class="container">
      <div class="row">
        <div class="span6">
          <div class="pull-left">
            <h5><%= t 'toshokan.header.dtu' %> &bull; <%= t 'toshokan.header.dtulibrary' %></h5>
          </div>
        </div>
        <div class="span6">
          <div class="pull-right">
            <%= render :partial=>'/user_util_links' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-inner level2-navbar">
    <div class="container">
      <div class="row">
        <div class="span6">
          <h4 class="dtulibrary-search"><%= t 'toshokan.header.dtulibrary' %> <span class="dtu-red"><%= t 'toshokan.header.search' %></span></h4>
          <div class="clearfix" id="searchbar">         
            <%= render_search_bar %>
          </div>
        </div>
        <div class="span6">
          <%= link_to image_tag('dtu_with_text.png'), 'http://www.dtu.dk', :class => 'logo pull-right' %>
        </div>
      </div>
      <div class="row">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </div>
    </div>
  </div>
</div>
