<div class="section automatic-cancellation-section">
  <h5 class="underlined">
    <%= t 'toshokan.assistance_requests.forms.sections.automatic_cancellation.title' %>
  </h5>
  <p><%= t 'toshokan.assistance_requests.forms.sections.automatic_cancellation.text' %></p>
  <% if params[:button] == 'create' -%>
    <p class="indented">
      <%= hidden_field_tag 'assistance_request[auto_cancel]', @assistance_request.auto_cancel %>
      <tt><%= t "toshokan.assistance_requests.forms.sections.automatic_cancellation.values.#{@assistance_request.auto_cancel}" %></tt>
    </p>
  <% else -%>
    <div class="radio-group">
      <% ['never', '14', '30'].each do |value| %>
        <%= radio_button_tag 'assistance_request[auto_cancel]', value, @assistance_request.auto_cancel == value %>
        <%= label_tag "assistance_request_auto_cancel_#{value}", 
              t("toshokan.assistance_requests.forms.sections.automatic_cancellation.values.#{value}") %>
      <% end %>
    </div>
  <% end -%>
</div>
