<div class="section book-section">
  <h5 class="underlined">
    <%= t 'toshokan.assistance_requests.forms.sections.book.title' %>
  </h5>
  <div class="row">
    <div class="col-md-6">
      <% if params[:button] == 'create' %>
        <%= render :partial => 'submitted_values',
          :locals => {
            :field_prefix => 'book_',
            :fields => ['title', 'year', 'author', 'edition']
          } %>
      <% else %>
        <%= labeled_text_field 'assistance_request', 'book_title', 
                               t('toshokan.assistance_requests.forms.field_labels.book_title'),
                               :required => true %>
        <%= labeled_text_field 'assistance_request', 'book_year',
                               t('toshokan.assistance_requests.forms.field_labels.book_year'),
                               :required => true %>
        <%= labeled_text_field 'assistance_request', 'book_author',
                               t('toshokan.assistance_requests.forms.field_labels.book_author') %>
        <%= labeled_text_field 'assistance_request', 'book_edition',
                               t('toshokan.assistance_requests.forms.field_labels.book_edition') %>
      <% end %>
    </div>
    <div class="col-md-6">
      <% if params[:button] == 'create' %>
        <%= render :partial => 'submitted_values',
          :locals => {
            :field_prefix => 'book_',
            :fields => ['doi', 'isbn', 'publisher']
          } %>
        <% if params[:assistance_request][:book_suggest] %>
          <%= hidden_field_tag 'assistance_request[book_suggest]', params[:assistance_request][:book_suggest] %>
          <div><%= t 'toshokan.assistance_requests.forms.sections.book.suggested_for_purchase' %></div>
        <% end %>
      <% else %>
        <%= labeled_text_field 'assistance_request', 'book_doi',
                               t('toshokan.assistance_requests.forms.field_labels.book_doi') %>
        <%= labeled_text_field 'assistance_request', 'book_isbn',
                               t('toshokan.assistance_requests.forms.field_labels.book_isbn') %>
        <%= labeled_text_field 'assistance_request', 'book_publisher',
                               t('toshokan.assistance_requests.forms.field_labels.book_publisher') %>
        <div class="checkbox-group">
          <%= check_box_tag 'assistance_request[book_suggest]' %>
          <%= label_tag 'assistance_request[book_suggest]',
                        t('toshokan.assistance_requests.forms.sections.book.suggest_for_purchase.title') %>
        </div>
        <p class="indented">
          <small class="dtu-grey">
            <%= t 'toshokan.assistance_requests.forms.sections.book.suggest_for_purchase.text_html' %>
          </small>
        </p>
      <% end %>
    </div>
  </div>
</div>
