<div class="row">
  <div class="col-md-6">
    <%= render 'book_section' %>
  </div>
  <div class="col-md-3">
    <%= render 'electronic_delivery_section' %>
    <%= render 'physical_delivery_section' %>
  </div>
  <div class="col-md-3">
    <%= render 'automatic_cancellation_section' %>
    <%= render 'notes_section' %>
    <%= render 'submit_section' %>
  </div>
</div>
