<div class="section conference-section">
  <h5 class="underlined">
    <%= t 'toshokan.assistance_requests.forms.sections.conference.title' %>
  </h5>
  <% if params[:button] == 'create' %>
    <%= render :partial => 'submitted_values',
      :locals => {
        :field_prefix => 'conference_',
        :fields => ['title', 'location', 'isxn', 'year', 'pages']
      } %>
  <% else %>
    <%= labeled_text_field 'assistance_request', 'conference_title',
                            t('toshokan.assistance_requests.forms.field_labels.conference_title'),
                            :required => true %>
    <%= labeled_text_field 'assistance_request', 'conference_location',
                           t('toshokan.assistance_requests.forms.field_labels.conference_location') %>
    <%= labeled_text_field 'assistance_request', 'conference_isxn',
                           t('toshokan.assistance_requests.forms.field_labels.conference_isxn') %>
    <div class="row-fluid">
      <div class="span6">
        <%= labeled_text_field 'assistance_request', 'conference_year', 
                               t('toshokan.assistance_requests.forms.field_labels.conference_year'),
                               :required => true %>
      </div>
      <div class="span6">
        <%= labeled_text_field 'assistance_request', 'conference_pages',
                               t('toshokan.assistance_requests.forms.field_labels.conference_pages'),
                               :required => true %>
      </div>
    </div>
  <% end %>
</div>
