<div class="section pickup-location-section">
  <h5 class="underlined">
    <%= t 'toshokan.assistance_requests.forms.sections.pickup_location.title' %>
  </h5>
  <p>
    <%= t 'toshokan.assistance_requests.forms.sections.pickup_location.text' %>
  </p>
  
  <% if params[:button] == 'create' %>
    <p class="indented">
      <%= hidden_field_tag 'assistance_request[pickup_location]', params[:assistance_request][:pickup_location] %>
      <%= t "toshokan.assistance_requests.forms.sections.pickup_location.#{params[:assistance_request][:pickup_location]}_html" %>
    </p>
  <% else %>
    <div class="clearfix">
      <%= radio_button_tag 'assistance_request[pickup_location]', 'lyngby', true %>
      <%= label_tag 'assistance_request_pickup_location_lyngby', 
                    t('toshokan.assistance_requests.forms.sections.pickup_location.lyngby_html'), 
                    :class => 'inline' %>
      <%= radio_button_tag 'assistance_request[pickup_location]', 'ballerup' %>
      <%= label_tag 'assistance_request_pickup_location_ballerup', 
                    t('toshokan.assistance_requests.forms.sections.pickup_location.ballerup_html'), 
                    :class => 'inline' %>
    </div>
  <% end %>
</div>
