<div class="section proceedings-section">
  <h5 class="underlined">
    <%= t 'toshokan.assistance_requests.forms.sections.proceedings.title' %>
  </h5>
  <% if params[:button] == 'create' %>
    <%= render :partial => 'submitted_values',
      :locals => {
        :field_prefix => 'proceedings_',
        :fields => ['title', 'isxn', 'pages']
      } %>
  <% else %>
    <%= optional_text_field 'assistance_request', 'proceedings_title',
                            t('toshokan.assistance_requests.forms.field_labels.proceedings_title') %>
    <%= optional_text_field 'assistance_request', 'proceedings_isxn',
                            t('toshokan.assistance_requests.forms.field_labels.proceedings_isxn') %>
    <div class="row-fluid">
      <div class="span6 offset6">
        <%= required_text_field 'assistance_request', 'proceedings_pages',
                                t('toshokan.assistance_requests.forms.field_labels.proceedings_pages') %>
      </div>
    </div>
  <% end %>
</div>
