<div class="row">
  <div class="col-md-3">
    <%= render 'show_article_section' %>
  </div>
  <div class="col-md-3">
    <%= render 'show_conference_section' %>
  </div>
  <div class="col-md-3">
    <%= render 'show_email_section' %>
    <% if @assistance_request.pickup_location %>
      <%= render 'show_pickup_location_section' %>
    <% else %>
      <%= render 'show_physical_location_section' %>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= render 'show_automatic_cancellation_section' %>
    <%= render 'show_notes_section' %>
  </div>
</div>
