<div class="order-summary">
  <h5 class="header"><%= t 'toshokan.orders.your_order' %><%= @order.persisted? ? ": #{@order.dibs_order_id}" : ''%></h5>
  <hr>
  <div class="items">
    <%= render :partial => 'article_item', :locals => {:order => @order} %>
    <% unless @order.assistance_request %>
      <div><%= t 'toshokan.orders.price_excl_vat' %> <%= render_formatted_price @order.price, @order.currency %></div>
    <% end %>
  </div>
  <hr>
  <% if @order.assistance_request %>
    <%= render :partial => 'assistance_request_summary', :locals => {:assistance_request => @order.assistance_request} %>
  <% else %>
    <%= render 'price_summary' %>
  <% end %>
</div>
