<%= form_tag orders_path, :class => 'order-form' do %>
  <% if @order.flow.fields.include? :email %>
    <%= label_tag :email, t("toshokan.orders.form.#{ @order.flow.fields.include?(:payment) ? 'email_html' : 'email_without_invoice'}_html") %>
    <%= text_field_tag :email, params[:email] || current_user.email %>
    <%= label_tag :email_confirmation, t('toshokan.orders.form.email_confirmation_html') %>
    <%= text_field_tag :email_confirmation, params[:email_confirmation] || (params[:email] ? nil : current_user.email) %>
  <% end %>
  <% if @order.flow.fields.include? :mobile %>
    <%= label_tag :mobile, t('toshokan.orders.form.mobile_html') %>
    <%= text_field_tag :mobile, params[:mobile] %>
  <% end %>
  <% if @order.flow.fields.include? :customer_ref %>
    <%= label_tag :customer_ref, t('toshokan.orders.form.customer_ref_html') %>
    <%= text_field_tag :customer_ref, params[:customer_ref] %>
  <% end %>

  <br />

  <%= render 'physical_delivery_section' %>
  <%#= render 'automatic_cancellation_section' %>

  
  <% if @order.flow.fields.include? :terms_accepted %>
    <%= check_box_tag :terms_accepted, params[:terms_accepted] %>
    <%= render_terms_accepted_label %>
  <% end %>
  <p class="mandatory-fields-notice">
    <%= t 'toshokan.orders.form.required_fields_html' %>
  </p>
  <%= button_tag t('toshokan.orders.form.continue'), :name => :button, :value => :continue, :class => 'btn btn-primary' %>
<% end %>

