<div class="order-summary">
  <h5 class="header"><%= t 'toshokan.orders.your_order' %><%= @order.persisted? ? ": #{@order.dibs_order_id}" : ''%></h5>
  <hr>
  <div class="items">
    <div class="metadata">
      <div class="title">"<%= @order.document['title_ts'].first %>"</div>
      <div class="author"><%= t 'toshokan.orders.by' %> <%= @order.document['author_ts'].first %></div>
      <div class="journal"><%= @order.document['journal_title_ts'].first %></div>
    </div>
    <div><%= t 'toshokan.orders.price_excl_vat' %> <%= render_formatted_price @order.price, @order.currency %></div>
  </div>
  <hr>
  <% if @order.email %>
    <div class="delivery-info">
      <% [:email, :mobile, :customer_ref].each do |method| %>
        <% unless @order.send(method).blank? %>
          <div>
            <%= t "toshokan.orders.summary.#{method}" %>:<span class="pull-right"><%= @order.send method %></span>
          </div>
        <% end %>
      <% end %>
    </div>
    <hr>
  <% end %>
  <div class="price-details">
    <%= t 'toshokan.orders.subtotal' %>: <%= render_formatted_price @order.price, @order.currency %><br>
    <%= t 'toshokan.orders.vat', :vat_pct => 25 %>: <%= render_formatted_price @order.vat, @order.currency %>
  </div>
  <hr class="heavy">
  <div class="price">
    <%= t 'toshokan.orders.total' %>: <%= render_formatted_price @order.price + @order.vat, @order.currency %>
  </div>
</div>
