<div class="span12">
  <div class="order">
    <div class="header">
      <%= render_order_steps @order.flow %>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <div class="order">
        <div class="info"><%= t "toshokan.orders.text.#{@order.supplier}_html" %></div>
        <p>
          <b><%= t 'toshokan.orders.review_your_order' %></b>
        </p>
        <% if @order.flow.steps.include? :payment %>
          <%= render_payment_form @order, I18n.locale %>
        <% else %>
          <%= form_tag order_receipt_path(@order.uuid), :method => :get, :style => 'display:inline' do %>
            <%= button_tag t('toshokan.orders.form.continue'), :class => 'btn btn-primary' %>
          <% end %>
        <% end %>
        <%= form_tag create_order_path, :style => 'display:inline' do %>
          <%= button_tag t('toshokan.orders.form.back'), :name => 'button', :value => 'back', :class => 'btn' %>
        <% end %>
      </div>
    </div>
    <div class="span6">
      <%= render 'order_summary' %>
    </div>
  </div>
</div>
