<div class="order">
  <div id="sidebar" class="col-md-3">
    <%= render 'find_orders_form' %>
    <%= render 'facets' %>
  </div>
  <div class="col-md-9">
    <% if @orders.empty? %>
      There are no orders that match your query.
    <% else %>
      <% if can? :view, :extended_info %>
        <div class="pull-right">
          <%= link_to 'Export as CSV', orders_path(params.merge :format => :csv) %>
        </div>
      <% end %>
      <table class="table">
        <thead>
          <tr>
            <th>Order info</th>
            <th>Item</th>
          </tr>
        </thead>
        <tbody>
          <% @display_order.each do |date| %>
            <tr>
              <td style="background: whitesmoke" class="dtu-grey" colspan="2">
                <%= l date.to_date, :format => :long %>
              </td>
            </tr>
            <% @orders_by_date[date].each do |order| %>
              <tr>
                <td>
                  <%= render :partial => 'order_info', :locals => {:order => order} %>
                </td>
                <td>
                  <%= render_order_item order %>
                </td>
              </li>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= paginate @orders %>
    <% end %>
  </div>
</div>
