<div class="order">
  <div id="sidebar" class="span3">
    <h5 style="margin: 8px 15px">Find orders</h5>
    <div class="well" style="padding: 15px">
      <%= form_tag orders_path, :class => 'clearfix', :method => :get do %>
        <% [:email, :date].each do |facet_type| %>
          <%= hidden_field_tag facet_type, params[facet_type] unless params[facet_type].blank? %>
        <% end %>
        <% if can? :view_any, Order %>
          <%= label_tag :q_email, 'Email' %>
          <%= text_field_tag :q_email, params[:q_email], :class => 'input-block-level' %>
        <% end %>
        <%= label_tag :q_orderid, 'Order ID' %>
        <%= text_field_tag :q_orderid, params[:q_orderid], :class => 'input-block-level' %>
        <%= button_tag 'Search', :class => 'btn btn-primary pull-right' %>
      <% end %>
    </div>
    <% unless @facets.empty? %>
      <h5 style="margin: 8px 15px">Filter result</h5>
      <div id="facets" class="facets sidenav">
        <div class="facets-collapse">
          <% @facets.each do |type, values| %>
            <div class="facet_limit blacklight-format">
              <h5 class="twiddle">
                <%= t "toshokan.orders.facets.#{type}" %>
                <i class="icon-chevron"></i>
              </h5>
              <ul>
                <% values.each do |term, count| %>
                  <% if @filter_queries[type] == term %>
                    <li>
                      <span class="selected"><%= term %></span> 
                      <%= link_to '<i class="icon-remove"></i>'.html_safe, 
                                  orders_path(params.except type), 
                                  :title => 'Remove filter' %> 
                      <span class="count"><%= count %></span>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to term, orders_path(params.merge type => term), 
                                  :class => 'facet_select', :title => 'Add filter' %>
                      <span class="count"><%= count %></span>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="span9">
    <% if @orders.empty? %>
      There are no orders that match your query.
    <% else %>
      <%= paginate @orders %>
      <table class="table">
        <thead>
          <tr>
            <th>Order info</th>
            <th>Article</th>
          </tr>
        </thead>
        <tbody>
          <% @display_order.each do |date| %>
            <tr>
              <td style="background: whitesmoke" class="dtu-grey" colspan="2">
                <%= l date.to_date, :format => :long %>
              </td>
            </tr>
            <% @orders_by_date[date].each do |order| %>
              <tr>
                <td>
                  <%= render :partial => 'order_info', :locals => {:order => order} %>
                </td>
                <td>
                  <%= render :partial => 'article_info', :locals => {:order => order} %>
                </td>
              </li>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= paginate @orders %>
    <% end %>
  </div>
</div>
