<div class="span12">
  <div class="order">
    <div class="header">
      <%= render_switch_locale params[:locale] %>
      <%= render_order_steps @order.flow %>
    </div>
    <div class="row">
      <div class="span6">
        <div class="info"><%= t "toshokan.orders.text.#{@order.supplier}_html" %></div>
        <%= render 'order_form' %> 
        </div>
      <div class="span6">
        <%= render 'order_summary' %>
      </div>
    </div>
  </div>
</div>
