<div class="span12">
  <div class="order">
    <div class="header">
      <%= render_switch_locale params[:locale] %>
      <%= render_order_steps @order.flow %>
    </div>
    <div class="row">
      <div class="span6">
        <div class="info"><%= t "toshokan.orders.text.#{@order.supplier}_html" %></div>
        <%= render 'order_form' %> 
        </div>
      <div class="span6">
        <%= render 'order_summary' %>
        <% if @order.flow.fields.include? :requirements %>
          <div class="well requirements">
            <div class="header">
              <b>Requirements and restrictions</b>: <a href="http://www.adobe.com/reader">Adobe Reader</a> 
              may be required to read this document.
            </div>
            <div class="body">
              Please not that some articles can only be viewed and printed once, in accordance
              with copyright restrictions. <b>Save the document to your computer</b> before
              opening it. If this PDF can be printed, after opening please print one copy and
              then delete the file.
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
