<div class="span6">
  <div class="order">
    <h4>Order Status</h4>

    <dl class="dl-horizontal dl-invert">
      <dt>Order number</dt>
      <dd><%= @order.dibs_order_id %></dd>
      <dt>Article</dt>
      <dd><%= @order.document['title_ts'].first %></dd>
    </dl>
    
    <h5>What Has Happened So Far?</h5>
    <dl class="dl-horizontal dl-invert">
      <%- @order.order_events.each do |event| -%>
        <dt><%= l event.created_at %></dt>
        <dd><%= t event.name %></dd>
      <%- end -%>
    </dl>
  </div>
</div>
<div id="sidebar" class="span6">
  <%= render 'ordered_article' %>
</div>
