<div class="span6">
  <div class="order">
    <h4>Order Status</h4>

    <dl class="dl-horizontal dl-invert">
      <dt>Order number</dt>
      <dd><%= @order.dibs_order_id %></dd>
      <dt>Article</dt>
      <dd><%= @order.document['title_ts'].first %></dd>
      <dt>Payment status</dt>
      <dd><%= @order.payment_status %>
      <dt>Delivery status</dt>
      <dd><%= @order.delivery_status %>
    </dl>
    
  </div>
</div>
<div id="sidebar" class="span6">
  <%= render 'ordered_article' %>
</div>
