<div class="order">
  <div class="col-md-6">
    <h4><%= t 'toshokan.orders.order_status' %></h4>

    <dl>
      <%= render @order.order_events %>
    </dl>

    <% if can?(:reorder, Order) && !@order.cancelled? && !@order.assistance_request_id %>
      <p><%= link_to t('toshokan.orders.reorder'), order_reorder_path(@order.uuid) %></p>
    <% end %>
    <% if can?(:resend, LibrarySupport) && @order.cancelled? && !@order.library_support_issue %>
      <p><%= link_to 'Resend Library Support request', order_resend_library_support_path(@order.uuid) %></p>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= render 'order_summary' %>
  </div>
</div>
