<% remote = true if local_assigns[:remote].nil? %>
<span>
  <% if bookmark %>
    <%= form_tag({:controller => 'bookmarks', :action => 'destroy', :id => document_id},
                 {:method => :delete, :remote => remote}) do %>
      <%= button_tag :data => { :confirm => bookmark.tags.empty? ? nil : t('toshokan.tags.remove_all'), :commit => t('toshokan.yes'), :cancel => t('toshokan.no') },
                     :title => 'Remove bookmark and tags' do %>
        <%= content_tag(:i, '', :class=>'icon-star') %>
      <% end %>
      <%= hidden_field_tag :return_url, return_url %>
    <% end %>
  <% else %>
    <%= form_tag({:controller => 'bookmarks', :action => 'update', :id => document_id},
                 {:method => :put, :remote => remote}) do %>
      <%= button_tag :data => { },
                     :title => 'Bookmark' do %>
        <%= content_tag(:i, '', :class=>'icon-star-o') %>
      <% end %>
      <%= hidden_field_tag :return_url, return_url %>
    <% end %>
  <% end %>
</span>
