<%= form_tag search_action_url, :method => :get do %>
  <% advanced_search_fields.each do |field_name, field| %>
    <%= label_tag field_name, field.label %>
    <%= text_field_tag field_name, params[field_name] %>
  <% end %>
  <div class="btn-group pull-right">
    <%= link_to t('toshokan.catalog.clear_form'), advanced_path, :id => 'clear_advanced_search_form', :class => 'btn' %>
    <%= render_advanced_search_button %>
  </div>
<% end %>
