<div class="splash">
  <h1><%= t 'toshokan.catalog.home.title_html' %><br>
    <span class="subtitle"><%= t 'toshokan.catalog.home.subtitle' %>. <a target="_blank" href=""><%= t 'toshokan.read_more' %></a></span>
  </h1>
  <div class="row">
    <div class="span3 feature-highlight">
      <%= image_tag 'FA_ok.png' %>
      <p>
        <%= t 'toshokan.catalog.home.features.coverage' %><br>
        <a target="_blank" href="http://api.libguides.com/api_box.php?iid=3935&bid=14267802"><%= t 'toshokan.read_more' %></a>
      </p>
    </div>
    <div class="span3 feature-highlight">
      <%= image_tag 'FA_search.png' %>
      <p>
        <%- if can? :search, :dtu -%>
          <%= t 'toshokan.catalog.home.features.search.dtu' %>
        <%- else -%>
          <%= t 'toshokan.catalog.home.features.search.public' %>
        <%- end -%>
        <br>
        <a target="_blank" href="http://api.libguides.com/api_box.php?iid=3935&bid=13839230"><%= t 'toshokan.read_more' %></a>
      </p>
    </div>
    <div class="span3 feature-highlight">
      <%= image_tag 'FA_download.png' %>
      <p>
        <%= t 'toshokan.catalog.home.features.download' %>
      </p>
    </div>
  </div>
</div>
