<div class="row">
  <div class="span9">
    <h4 style="text-align: center; font-size: 28px; margin-bottom: 75px">Search it, find it and get it!!</h4>
  </div>
</div>
<div class="row">
  <div class="span3 offset1">
    <%= image_tag 'articles.png' %>
  </div>
  <div class="span3 offset1">
    <%= image_tag 'journals.png' %>
  </div>
</div>
<div style="width: 80%; margin: 50px auto; font-size: 18px; line-height: 1.5em; text-align: center">
  Search millions of academic articles from tens of thousands scientific journals
  in science, technology and medicine. <a href="">Read more</a>
</div>
<div class="row-fluid">
  <div class="span3 offset1" style="text-align: center">
    <%= image_tag 'FA_ok.png', :style => 'width: 75px' %>
    <div style="margin-top: 20px; background-color: whitesmoke; border-radius: 10px; padding: 20px; text-align: left">
      Complete coverage of published articles from all major STM publishers
      (Elsevier, Springer, Nature, Science, Wiley, IEEE, British Medical Journals, and
      many more) supplemented by other relevant collections and Open Access articles.<br>
      <a href="">Read more</a>
    </div>
  </div>
  <div class="span3" style="text-align: center">
    <%= image_tag 'FA_search.png', :style => 'width: 75px' %>
    <div style="margin-top: 20px; background-color: whitesmoke; border-radius: 10px; padding: 20px; text-align: left">
      Locate your articles easily and efficiently among 70 million articles, journals and books.<br>
      <a href="">Read more</a>
    </div>
  </div>
  <div class="span3" style="text-align: center">
    <%= image_tag 'FA_download.png', :style => 'width: 75px' %>
    <div style="margin-top: 20px; background-color: whitesmoke; border-radius: 10px; padding: 20px; text-align: left">
      Download full articles or order digital copies from local DTU Library collections or from our document supplier.<br>
      <a href="">Read more</a>
    </div>
  </div>
</div>
