<div class="row">
  <div class="span9">
    <h4><%= t 'toshokan.catalog.no_hits.title' %></h4>
    <p style="margin-bottom: 3em"><%= t 'toshokan.catalog.no_hits.text' %></p>

    <h5>Search tips</h5>
    <ul class="search-tips">
      <% ['broaden_search_html', 'for_books_html', 
          'for_articles_html' ].each do |key| %>
        <li><%= t "toshokan.catalog.no_hits.tips.#{key}" %></li>
      <% end %>
    </ul>

    <h5 style="margin-top: 3em"><%= t 'toshokan.catalog.no_hits.need_help.title' %></h5>
    <p><%= t 'toshokan.catalog.no_hits.need_help.common' %></p>

    <% if current_user.dtu? -%>
      <p><%= t 'toshokan.catalog.no_hits.need_help.dtu' %></p>
    <% else -%>
      <p><%= t 'toshokan.catalog.no_hits.need_help.non_dtu_html' %></p>
    <% end -%>

    <% if can? :request, :assistance -%>
      <div class="row">
        <% [:journal_article, :conference_article, :book].each do |genre| -%>
          <div class="span3">
            <%= link_to t("toshokan.assistance_requests.genres.#{genre}"),
                new_assistance_request_path(:genre => genre), :class => 'btn request-assistance-link' %>
          </div>
        <% end %>
      </div>
    <% end -%>
  </div>
</div>
