<div class="row" style="margin-bottom: 3em">
  <div class="span6">
    <h4><%= t 'toshokan.catalog.no_hits.title' %></h4>
    <% if can? :view, :cant_find_forms -%>
      <p><%= t 'toshokan.catalog.no_hits.can_see_forms.text' %></p>
      <p><%= t 'toshokan.catalog.no_hits.can_see_forms.sub_text' %></p>
    <% else %>
      <p><%= t 'toshokan.catalog.no_hits.cant_see_forms.text' %></p>
    <% end %>
  </div>
</div>
<% [:journal_article, :conference_article, :book].each do |genre| %>
  <div class="row">
    <div class="span6">
      <% if can? :view, :cant_find_forms -%>
        <%= link_to t('toshokan.cant_find.contact_librarian',
                      :genre => t("toshokan.cant_find.genres.#{genre}").downcase),
            cant_find_path(:genre => genre), :class => 'btn btn-primary cant-find-link' %>
      <% else %>
        <%= link_to t("toshokan.cant_find.genres.#{genre}"),
            cant_find_path(:genre => genre), :class => 'btn btn-primary cant-find-link' %>
      <% end %>
    </div>
  </div>
<% end %>
