<table id="search-options" class="table hide">
  <tbody>
    <% if can? :view, :search_history && !@search_history.nil? && @search_history.length > 0 %>
      <tr class="search-history-links">
        <td>        
          <i class="icon-star-empty">
          <%= link_to save_search_path(@search_history.first.id), :method => :put, :title => t('toshokan.mylibrary.save') do %>
            </i> <%= t('toshokan.mylibrary.save') %>
          <%- end -%>
          <i class="icon-bell"></i>
          <%= link_to forget_search_path(@search_history.first.id), :method => :delete, :title => t('toshokan.mylibrary.saved') do %>
            <%= t('toshokan.mylibrary.alert') %>
          <%- end -%>
        </td>
      </tr>
    <%- end -%>    
    <tr class="recent-history">
      <td class="bordered"><i class="icon-time"></i> <b>Recent History:</b></td>
    </tr>
    <% @search_history.each do |entry| %>      
      <tr class="recent-history">
        <td class="entry">
          <i class="icon-search invisible"></i> <%= link_to_previous_search(entry.query_params)%>
        </td>
      </tr>
    <%- end -%>
    <% if can? :view, :search_history %>
      <tr class="search-history-links">
        <td class="bordered">
          <i class="icon-time"></i> <%= link_to "Complete history", search_history_path %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
