  <ul id="fulltext" class="list-unstyled">
    <li class="fulltext-header"><h4><%= t('toshokan.tools.fulltext') %></h4></li>

    <% if (can? :order, :article)  && (params[:resolve].blank? || (params[:resolve] && (can? :search, :dtu))) %>
      <% # Quick-fix for getting conf title to DocDel when no journal title is available.
         open_url = @document.export_as_openurl_ctx_kev
         open_url += "&rft.jtitle=#{URI.encode_www_form_component @document['conf_title_ts'].first}" if @document['conf_title_ts'] && !@document['journal_title_ts'] %>
      <li class="order-rd-scan order-scan hide">
        <%= render :partial => 'order_scan_form', :locals => { :supplier => :rd, :open_url => open_url, :index => false } %>
      </li>
      <li class="order-dtu-scan order-scan hide">
        <%= render :partial => 'order_scan_form', :locals => { :supplier => :dtu, :open_url => open_url, :index => false } %>
      </li>
    <% end %>

    <% show = (@document['pubmed_url_ssf'] || @document['isi_url_ssf'] || @document['orbit_id_ssf'] || @document['backlink_ss']) %>
    <li class="other-header <%= show ? '' : 'hide' %>">
      <h5><%= t 'toshokan.availability.other' %></h5>
    </li>

    <% if(@document['pubmed_url_ssf']) %>
      <li><%=link_to "<i class='icon-pubmed'></i> #{t('toshokan.source_url.pubmed')}".html_safe, "#{@document['pubmed_url_ssf'].first}?otool=#{Rails.application.config.pubmed[:dtu_id]}" %></li>
    <% end %>
    <% if(@document['isi_url_ssf']) %>
      <li><%=link_to "<i class='icon-isi'></i> #{t('toshokan.source_url.isi')}".html_safe, "#{@document['isi_url_ssf'].first}" %></li>
    <% end %>
    <% if(@document['orbit_id_ssf']) %>
      <li>
        <%=link_to "<i class='icon-dtu'></i> #{t('toshokan.source_url.orbit')}".html_safe, Rails.application.config.orbit_url % "#{@document['orbit_id_ssf'].first}" %>
      </li>
    <% end %>
    <% if @document['backlink_ss'] %>
      <li>
        <%= link_to "<i class=\"icon-dtu\"></i> #{t 'toshokan.source_url.orbit'}".html_safe, @document['backlink_ss'].first %>
      </li>
    <% end %>
  </ul>
