<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark/Folder functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.
-%>

  <ul class="list-unstyled">

    <% if @document[:format] != "journal" %>
      <li class="nav-header"><h4><%= t('toshokan.tools.cite_and_export') %></h4></li>

      <li>
        <i class="icon-mendeley"></i>
        <%= link_to t('toshokan.tools.mendeley'), '#', :class => (show_feature?(:mendeley) ? 'save-to-mendeley-api' : 'save-to-mendeley'), :data => { :document => @document.id } %>
      </li>

      <% if (!@document.citation_styles.empty?) %>
        <li class="cite">
          <i class="icon-quote-right"></i>
          <%= link_to t('blacklight.tools.cite'), citation_catalog_path(:id => @document), {:id => 'citeLink', :name => 'citation', :class => 'lightboxLink'} %>
        </li>
      <% end %>

      <% if @document.export_formats.keys.include?( :bib ) %>
        <li class="bibtex">
          <i class="icon-file-text-o"></i> 
          <%= link_to t('toshokan.tools.bibtex'), catalog_path(@document, :format => 'bib') %>
        </li>
      <% end %>

      <% if @document.export_formats.keys.include?( :ris ) %>
        <li class="endnote">
          <i class="icon-file-text-o"></i>
          <%= link_to t('toshokan.tools.ris'), catalog_path(@document, :format => 'ris') %>
        </li>
      <% end %>
    <% end %>

    <% if @document[:format] == "journal" && params[:resolve].blank? %>

      <% if can? :view, :search_history %>
        <li class="nav-header journal-alert-header"><i class="icon-bell"></i><h4><%= t('toshokan.alerts.title') %></h4></li>
        <li>
          <%= render :partial => 'alerts/add_journal_alert', :locals => { :document => @document } %>
        </li>
      <% end %>

      <%= render_journal_rank @document %>
    <% end %>

  </ul>
