  <ul id="fulltext" class="nav nav-list">
    <li class="nav-header fulltext-header"><%= t('toshokan.tools.fulltext') %></li>    

    <li class="nav-header order-rd-scan hide"><%= t 'toshokan.tools.order.rd_html' %></li>
    <li class="order-rd-scan <%= Orders.order_link_hidden? ? 'hide' : '' %>">
      <%= render :partial => 'show_order_scan', :locals => { :supplier => :rd, :document => @document } %>
    </li>
    <!--<li class="nav-header order-dtu-scan hide"><%= t 'toshokan.tools.order.dtu_html' %></li>
    <li class="order-dtu-scan hide">-->
      <%#= render :partial => 'show_order_scan', :locals => { :supplier => :dtu } %>
    <!--</li>-->

    <li id="nal-header" class="nav-header hide nav-list-collapse" data-toggle="collapse" data-target=".nal-content">
      <%= t('toshokan.tools.nal') %> <i class="icon-chevron pull-right"></i>
    </li>

    <% if (@document['pubmed_url_ssf'] || @document['isi_url_ssf'] || @document['orbit_id_ssf']) %>
      <li class="nav-header"><%= t('toshokan.tools.other') %></li>
    <% end %>
    
    <% if(@document['pubmed_url_ssf']) %>
      <li><%=link_to "<i class='icon-pubmed'></i> #{t('toshokan.source_url.pubmed')}".html_safe, "#{@document['pubmed_url_ssf'].first}" %></li>
    <% end %>
    <% if(@document['isi_url_ssf']) %>
      <li><%=link_to "<i class='icon-isi'></i> #{t('toshokan.source_url.isi')}".html_safe, "#{@document['isi_url_ssf'].first}" %></li>
    <% end %>
    <% if(@document['orbit_id_ssf']) %>
      <li>
        <%=link_to "<i class='icon-dtu'></i> #{t('toshokan.source_url.orbit')}".html_safe, Rails.application.config.orbit_url % "#{@document['orbit_id_ssf'].first}" %>
      </li>
    <% end %>
  </ul>
