<div class="well tools" id="fulltext_tools">
  <%= render :partial => 'show_fulltext' %>
</div><!--/well -->

<% if params[:resolve].blank? %>
  <% if @document[:format] == 'journal' %>
    <%= render 'show_alert_tools' %>
    <%= render 'show_journal_rank_tools' %>
    </div>
  <% else %>
    <%= render 'show_metrics' %>
    <%= render 'show_export_tools' %>
  <% end %>
<% end %>
