<% unless @document_list.empty? %>
  <div id="sortAndPerPage">
    <div class="page_links">
      <%= render :partial => "paginate_compact" %>
    </div>

    <%= render :partial => 'sort_widget' %>

    <%= render :partial => 'per_page_widget' %>

    <% if show_feature? :export_result %>
      <%= render :partial => 'save_and_export_widget' %>
    <% end %>

    <% if can? :view_format, 'librarian' %>
      <%= render :partial => 'display_format_widget' %>
    <% end %>
  </div>
<% end %>
