<% if current_user.authenticated? || current_user.impersonating? %>
  <div class="row user-favorites">

    <div class="col-md-4 ">
      <div class="well dtucards">
        <%= link_to saved_search_history_path do %>
          <i class='icon-star'></i>
          <%= t('toshokan.search_history.saved_filter') %>
          <div class="pull-right">
            <%= @saved_searches.count %>
          </div>
        <% end %>
        <p>List of all the articles you have 'starred'</p>
      </div>
    </div>

    <div class="col-md-4 ">
      <div class="well dtucards">
        <%= link_to alerted_search_history_path do %>
          <i class="icon-bell"></i>
          <%= t('toshokan.search_history.alerted_filter') %>
          <div class="pull-right">
            <%= @alerted_searches.count %>
          </div>
        <% end %>
        <p>Receive an email when a new journal is found in your 'alerted' search.</p>
      </div>
    </div>

    <div class="col-md-4 ">
      <div class="well dtucards">
        <% if can? :alert, :journal %>
          <%= link_to alerts_path do %>
            <i class='icon-bell'></i>
            <%= t('toshokan.mylibrary.menu.journals') %>
            <div class="pull-right">
              <%= @alerts.count %>
            </div>
          <% end %>
        <% end %>
        <p>Receive an email when a journal is updated</p>
      </div>
    </div>

    <div class="col-md-4  ">
      <div class="well dtucards">
        <% if can? :tag, Bookmark %>
          <%= link_to manage_tags_path do %>
            <i class='icon-tags'></i>
            <%= t('toshokan.mylibrary.menu.tags') %>
            <div class="pull-right">
              <%= @tags.count %>
            </div>
          <% end %>
        <% end %>
        <p>List of the articles you have tagged/bookmarked</p>
      </div>
    </div>

    <div class="col-md-4  ">
      <div class="well dtucards">
        <% if can? :view, :search_history %>
          <%= link_to search_history_path do %>
            <i class='icon-clock-o'></i> 
            <%= t('toshokan.mylibrary.menu.search_history') %>
          <% end %>
        <% end %>
        <p>Your most recent searches</p>
      </div>
    </div>

    <div class="col-md-4  ">
      <div class="well dtucards">
        <% if can? :view, Order %>
          <%= link_to orders_path do %>
            <i class="icon-shopping-cart"></i>
            <%= t 'toshokan.header_links.orders' %>
            <div class="pull-right">
              <%= @orders.count %>
            </div>
          <% end %>
          <p>A list of your orders</p>
        <% end %>
      </div>

    </div>

    <div class="col-md-4  ">
      <div class="well dtucards">
        <% if can? :view, :my_publications %>
          <%= link_to 'http://orbit.dtu.dk/admin/workspace.xhtml', :target => '_blank' do %>
            <i class="icon-file-text"></i>
            <%= t 'toshokan.mylibrary.menu.my_publications' %>
          <% end %>
        <% end %>

      </div>

    </div>
  </div> <!-- /row -->
<% end %>
