<div id="sidebar" class="span3">
  <%= render 'facets' %>
</div>
<div class="span9">
  <div class="advanced-search">
    <%= form_tag '/catalog', :method => :get do %>
      <% advanced_search_fields.each do |field_name, field| %>
        <%= label_tag field_name, field.label %>
        <%= text_field_tag field_name, params[field_name] %>
      <% end %>
      <%= button_tag ('Search ' + content_tag('i', '', :class => 'icon-search icon-white')).html_safe, :id => 'advanced_search', :value => 'advanced_search', :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
