<div id="content" class="col-md-12 mb-50">

  <% if has_search_parameters? %>
    <% @page_title = t('blacklight.search.title', :application_name => application_name) %>

    <%= render :partial => 'refine_search_query' if can? :view, :refine_search_query %>

    <%= render 'sort_and_per_page' %>

    <%= render :partial => 'did_you_mean' %>

    <% if @document_list.empty? %>
      <% if any_tag_in_params? %>
        <%= render 'no_hits_for_tag' %>
      <% else %>
        <%= render 'no_hits' %>
      <% end %>
    <% else %>
      <% if params[:assistance_request] %>
        <%= render 'assistance_resolver' %>
      <% end %>
      <%= render_document_index %>
    <% end %>

    <%= render 'results_pagination' %>
  <% else %>
    <%# if there are no input/search related params, display the "home" partial -%>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 mb-20">
        <%= render 'home' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <%= render 'user_favorites' %>
      </div>
    </div>
  <% end %>

</div>

