<div>
  <p>You're about to save the<%= " first #{@max_export} of " if @num_found > @max_export %> <%= @num_found %>
    records from the current search result to Mendeley</p>

  <h6>Save in</h6>
  <form id="mendeley-save-form"  method="post" action="<%= mendeley_index_save_path %>" data-remote="true">
    <select name="folder" autofocus="autofocus">
      <optgroup label="Folders">
        <option value="">Unsorted</option>
        <%= render_mendeley_folders @folders %>
      </optgroup>
      <optgroup label="Groups">
        <%= render_mendeley_groups @groups %>
      </optgroup>
    </select>

    <h6>Tags</h6>
    <input name="tags" type="text"/>

    <% params.each do |k,v| %>
      <input type="hidden" name="<%= k %>" value="<%= v %>"/>
    <% end %>
    <input type="hidden" name="export_id" value="<%= @export_id %>"/>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    
    <h6></h6>
    <button id="mendeley-save-submit" type="submit" class="btn">Save</button>
    <div id="mendeley-save-progress" class="progress" style="display:none" data-name="<%= @export_id %>">
      <div class="bar" style="width: 0%;"></div>
    </div>
  </form>
</div>
