<div id="content" class="col-md-9 show-document">

  <%= render 'previous_next_doc' %>

  <% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name) %>

  <%# this should be in a partial -%>
  <div id="document" class="<%= render_document_class %>">
    <div id="<%= @document.id.to_s.parameterize %>">

      <% if params[:assistance_request] %>
        <%= render 'assistance_resolver' %>
      <% end %>

      <% # bookmark/folder functions -%>

      <div class="document media">
        <span class="pull-right hidden-phone">
          <% if can? :tag, Bookmark %>
          <div class="documentFunctions">
            <% if params[:resolve].blank? %>
              <%= render_tag_control @document %>
            <% end %>
          </div>
          <% end %>

          <% # Cover image %>
          <%= render_cover_image @document %>
        </span>
        <div class="media-body">
          <%= render_document_partial @document, :show %>
        </div>
        <%= render 'nal_modal' %>
        <%= render 'dtu_location_modal' %>

        <%= render :partial => 'tags', :locals => { :document => @document} %>
      </div>

      <%= render :partial => 'toc',     :locals => { :document => @document, :toc => @toc } %>
      <%= render :partial => 'metadata', :locals => { :document => @document } %>
      <%= render :partial => 'openurl', :locals => { :document => @document } %>

    </div>
  </div>
</div>

<div id="sidebar" class="col-md-3">
   <%= render_document_sidebar_partial  %>
</div><!--/span -->
