<div id="content" class="col-md-9 col-sm-8 show-document">

  <%= render 'previous_next_doc' %>

  <% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name).html_safe %>

  <%# this should be in a partial -%>
  <div id="document" class="document <%= render_document_class %>" itemscope itemtype="<%= @document.itemtype %>">
    <div id="<%= @document.id.to_s.parameterize %>">
      <% # Test display style for header + document functions 
         # TODO: Put in helper + css and use on both index and show page if agreed upon
      %>
      <div style="display: table-row">
        <div style="display: table-cell">
          <h4>
            <%= document_heading @document %>
          </h4>
        </div>
        <div style="display: table-cell; width: 95px">
          <% if can? :tag, Bookmark %>
            <% if params[:resolve].blank? %>
              <%= render_index_doc_actions @document, :wrapping_class => 'index-document-functions' %>
            <% end %>
          <% end %>
        </div>
      </div>

      <% if params[:assistance_request] %>
        <%= render 'assistance_resolver' %>
      <% end %>

      <% # bookmark/folder functions -%>

      <div class="media">
        <span class="pull-right hidden-phone">
          <%= render_cover_image @document %>
        </span>
        <div class="media-body">
          <%= render_document_partial @document, :show %>
        </div>
        <%= render 'nal_modal' %>
        <%= render 'dtu_location_modal' %>

        <%= render :partial => 'tags', :locals => { :document => @document} %>
      </div>

      <%= render :partial => 'toc',     :locals => { :document => @document, :toc => @toc } %>
      <%= render :partial => 'metadata', :locals => { :document => @document } %>
      <%= render :partial => 'openurl', :locals => { :document => @document } %>

    </div>
  </div>
</div>

<div id="sidebar" class="col-md-3">
   <%= render_document_sidebar_partial  %>
</div><!--/span -->
