<div id="content" class="span9 show-document">
  
  <%= content_tag "div", id: "url_list", data: {urls: @document['fulltext_list_ssf'].to_json} do %>
  <% end %>

  <%= render 'previous_next_doc' %>

  <% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name) %>
  <% extra_head_content << render_link_rel_alternates %>
  <% sidebar_items << render_document_sidebar_partial %>

  <%# this should be in a partial -%>
  <div id="document" class="<%= render_document_class %>">
    <div id="<%= @document.id.to_s.parameterize %>">

      <% # bookmark/folder functions -%>

      <div class="document media">
        <span class="pull-right hidden-phone">
          <% # Cover image %>
          <%= render_cover_image @document %>
        </span>
        <div class="media-body">
          <%= render_document_partial @document, :show %>
        </div>
      </div>

    </div>

    <% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
      <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev %>"></span>
    <% end %>

  </div>

</div>

<div id="sidebar" class="span3">
   <%= render_document_sidebar_partial  %>
</div><!--/span -->
