<div class="media clearfix">
  <div class="pull-right hidden-phone">
    <%= render_cover_image document %>
  </div>
  <div class="media-body">
    <% if document['journal_title_ts'] %>
      <div class="journal_information">
        <div class="journal_title">
          <%= document['journal_title_ts'].first %>
        </div>
        <% if document['journal_vol_ssf'] || document['journal_issue_ssf'] || document['pub_date_tis'] || document['journal_page_ssf'] %>
          &mdash;
        <% end %>
        <%= render_journal_info document %>
      </div>
    <% end %>
    <% if document['author_ts'] %>
      <div class="authors">
        <%= document['author_ts'].collect { |author| 
          link_to author, root_path(:search_field => 'author', :q => author) }.join(', ').html_safe %>
      </div>
    <% end %>
    <p class="abstract"><%= render_abstract_snippet document %></p>
    <% if document['doi_ss'] %>
      <div class="doi">DOI: <%= link_to document['doi_ss'].first, "http://redirect.cvt.dk/?url=#{u('http://dx.doi.org/' + document['doi_ss'].first)}" %></div>
    <% end %>
  </div>
</div>
