<div id="util-links" class="util-links pull-right">
  <% if current_or_guest_user %>
    <!-- Login -->
    <% if can? :login, User %>
      <%= link_to t('toshokan.header_links.login_cas'), select_auth_provider_path(:return_url => u(request.url)) %>
    <% end %>

    <% if current_user and !current_user.anonymous? %>
      <!-- Username -->
      <%= t("toshokan.header_links.#{current_user.impersonating ? 'acting_as' : 'logged_in_as'}") %> <%= link_to current_user, edit_user_registration_path %>
      <!-- Switch user -->
      <% if can? :switch, User %>
        |
        <%= link_to t('toshokan.header_links.switch_user'), switch_user_path, :id => 'switch_user' %>
        <div class="modal hide fade" id="switch_user_modal">
          <div class="modal-header">
            <button style="display:inherit" class="close" data-dismiss="modal" type="button">&times;</button>
            <h3><%= t 'toshokan.modals.switch_user.title' %></h3>
          </div>
          <div class="modal-body">
            <%= render '/users/sessions/switch_user_form' %>
          </div>
        </div>
      <% elsif can? :switch_back, User %>
        |
        <%= link_to t('toshokan.header_links.switch_back'), user_session_path, :method => :put, :id => 'switch_back' %>
      <% end %>
      <% if can? :update, User %>
        |
        <%= link_to t('toshokan.header_links.admin'), users_path %>
      <% end %>
    <% end %>
    |
    <%= link_to t('blacklight.header_links.search_history'), search_history_path %>
    <% if current_user and !current_user.anonymous? %>
      <% if can? :logout, User %>
        |
        <%= link_to t('toshokan.header_links.logout_cas'), destroy_user_session_path %>
      <% end %>
    <% end %>
  <% end %>
</div>
