<%= javascript_tag do %>
  window.userType = '<%= current_user.type %>'
<% end %>

<div id="util-links" class="util-links pull-right <%= current_user.impersonating? ? 'impersonating' : '' %>">
  <!-- Login -->
  <% if can? :login, User %>
    <%= link_to new_user_session_path(:url => request.fullpath), :class => "btn btn-xs btn-success" do %>
      <i class='icon-signin'></i> <%= t('toshokan.header_links.login') %>
    <% end %>
    <% if !cookies[:shunt_hint] && !current_user.walk_in? && !params[:dlib] %>
      <div id="login-popover" class="popover fade bottom in">
        <div class="arrow"></div>
        <div class="popover-inner">
          <h3 class="popover-title"><%= t('toshokan.header_links.suggest_login.title') %></h3>
          <div class="popover-content">
            <p><%= t('toshokan.header_links.suggest_login.benefits_material_html') %></p>
            <p><%= t('toshokan.header_links.suggest_login.benefits_personalization') %></p>
            <p><%= t('toshokan.header_links.suggest_login.question') %></p>
            <p>
              <%= link_to t('toshokan.header_links.suggest_login.yes_please_dtu_html'), new_user_session_path(:url => request.fullpath, :only_dtu => true), :class => 'btn btn-primary' %>
              <%= link_to t('toshokan.header_links.suggest_login.yes_please_non_dtu_html'), new_user_session_path(:url => request.fullpath, :public => true), :class => 'btn btn-primary' %>
              <%= link_to t('toshokan.header_links.suggest_login.no_thanks'), url_for({:stay_anonymous => true}), :class => 'btn btn-primary', :style => 'display: block'%>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if current_user.authenticated? || current_user.impersonating? %>
    <div class="dropdown" id="header-menu">
      <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
        <i class="icon-gear"></i>
        <% if current_user.impersonating? %>
          <span id="original-user"><%= original_user %> <%= t('toshokan.header_links.acting_as') %></span>
        <% end %>
        <span id="current-user"><%= current_user %></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <% if can? :tag, Bookmark %>
          <li>
            <%= link_to manage_tags_path do %>
              <i class='icon-tags'></i> <%= t('toshokan.mylibrary.menu.tags') %>
            <% end %>
        </li>
        <% end %>
        <% if can? :view, :search_history %>
          <li>
            <%= link_to search_history_path do %>
              <i class='icon-clock-o'></i> <%= t('toshokan.mylibrary.menu.search_history') %>
            <% end %>
          </li>
        <% end %>
        <% if can? :alert, :journal %>
          <li>
            <%= link_to alerts_path do %>
              <i class='icon-bell'></i> <%= t('toshokan.mylibrary.menu.journals') %>
            <% end %>
          </li>
        <% end %>
        <% if can? :view, :my_publications %>
          <li>
            <%= link_to 'http://orbit.dtu.dk/admin/workspace.xhtml', :target => '_blank' do %>
              <i class="icon-file-text"></i> <%= t 'toshokan.mylibrary.menu.my_publications' %>
            <% end %>
          </li>
        <% end %>
        <li class="divider"></li>
        <% if can? :switch, User %>
          <li>
              <%= link_to switch_user_path, :id => 'switch_user' do %>
                <i class='icon-user'></i> <%= t('toshokan.header_links.switch_user') %>
              <% end %>
          </li>
        <% elsif can? :switch_back, User %>
          <li>
            <%= link_to user_session_path, :method => :put, :id => 'switch_back' do %>
              <i class='icon-user'></i> <%= t('toshokan.header_links.switch_back') %>
            <% end %>
          </li>
        <% end %>
        <% if can? :update, User %>
          <li>
            <%= link_to users_path do %>
              <i class='icon-dashboard'></i> <%= t('toshokan.header_links.admin') %>
            <% end %>
          </li>
        <% end %>
        <% if can? :view, Order %>
          <li>
            <%= link_to orders_path do %>
              <i class="icon-shopping-cart"></i> <%= t 'toshokan.header_links.orders' %>
            <% end %>
          </li>
        <% end %>
        <% if can? :logout, User %>
          <li>
            <%= link_to destroy_user_session_path(:return_url => root_path) do %>
              <i class='icon-sign-out'></i> <%= t('toshokan.header_links.logout') %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
