
<%= javascript_tag do %>
  window.userType = '<%= current_user.type %>'
<% end %>

<div id="util-links" class="util-links pull-right">
  <!-- Login -->
  <% if can? :login, User %>
    <%= link_to t('toshokan.header_links.login_cas'), select_auth_provider_path(:return_url => request.fullpath) %>
  <% end %>

  <% if current_user.authenticated? %>
    <div class="dropdown" id="header-menu">
      <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
        <i class="icon-cog"></i>    
        <%=current_user %>
        <%= can?(:switch_back, User) ? "(#{t('toshokan.header_links.acting_as')})" : ''%>    
      </a>    
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li>
          <%= link_to raw("<i class='icon-tags'></i>#{t('toshokan.header_links.tags')}"), 
          "#", :tabindex => "-1" %>
        <li>
          <%= link_to raw("<i class='icon-search'></i>#{t('toshokan.header_links.searches')}"), 
          search_history_path, :tabindex => "-1" %>
        </li>
        <li>
          <%= link_to raw("<i class='icon-exclamation-sign'></i>#{t('toshokan.header_links.journals')}"), 
          "#", :tabindex => "-1" %>
        </li>
        <li class="divider"></li>
        <% if can? :switch, User %>
          <li>
              <%= link_to raw("<i class='icon-user'></i>#{t('toshokan.header_links.switch_user')}"), switch_user_path, :id => 'switch_user' %>          
            <div class="modal hide fade" id="switch_user_modal">
              <div class="modal-header">
                <button style="display:inherit" class="close" data-dismiss="modal" type="button">&times;</button>
                <h3><%= t 'toshokan.modals.switch_user.title' %></h3>
              </div>
              <div class="modal-body">
                <%= render '/users/sessions/switch_user_form' %>
              </div>
            </div>
          </li>
        <% elsif can? :switch_back, User %>
          <li>
            <%= link_to raw("<i class='icon-user'></i>#{t('toshokan.header_links.switch_back')}"), user_session_path, :method => :put, :id => 'switch_back' %>
          </li>
        <% end %>
        <% if can? :update, User %>
          <li>
            <%= link_to raw("<i class='icon-dashboard'></i>#{t('toshokan.header_links.admin')}"), users_path %>
          </li>
        <% end %>        
        <li>
          <%= link_to raw("<i class='icon-signout'></i>#{t('toshokan.header_links.logout_cas')}"), 
          destroy_user_session_path(:return_url => root_path), :tabindex => "-1" %>
        </li>
      </ul>
    </div>
  <% end %>  
</div>