<%= form_tag edit_feedback_path, :method => :post do %>
  <%= label_tag 'feedback', 'Feedback' %>
  <%= text_area_tag 'feedback' %>
  <p>
    If you would like us to contact you, please provide your name and email address below.
  </p>
  <%= label_tag 'name', 'Name' %>
  <%= text_field_tag 'name' %>
  <%= label_tag 'email', 'Email' %>
  <%= button_tag 'Send', :class => 'btn btn-primary pull-right' %>
  <%= text_field_tag 'email' %>

<% end %>
