<%= form_tag feedback_path, :remote => request.xhr? do %>
  <%= label_tag 'message', "#{t 'toshokan.feedback.message'} *" %>
  <%= text_area_tag 'message', params[:message], :tabindex => 1 %>
  <%= label_tag 'name', t('toshokan.feedback.name') %>
  <%= text_field_tag 'name', params[:name], :tabindex => 2 %>
  <%= label_tag 'email', "#{t 'toshokan.feedback.email'} *" %>
  <%= text_field_tag 'email', params[:email], :tabindex => 3 %>
  <div style="margin: 10px 0px;">
    <%= t 'toshokan.forms.required_fields' %>
  </div>
  <%= button_tag t('toshokan.forms.send'), :class => 'btn btn-primary', :tabindex => 4 %>
<% end %>
